<% if (success && success.length) { %>
    <div id="success-box">
      <%= success %>
    </div>
  <% } %>
  
  <% if (error && error.length) { %>
    <div id="error-box">
      <%= error %>
    </div>
   
  <% } %>