<%= layout('layouts/boilerplate') %>

<h1 class="center-text main-heading">Admin page </h1>

  <!-- <div>
    <button class="" id="tab-menu"><i class="fa-solid fa-bars"></i></button>
  </div> -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'news')">News</button>
    <button class="tablinks" onclick="openTab(event, 'events')">Event</button>
    <button class="tablinks" onclick="openTab(event, 'usersList')">Users</button>
  </div>
  
  <div id="news" class="tabcontent">
        <h2 class="center-text main-heading">ADD NEWS</h2>
    <div class="formwrapper">
      <form action="/users/signup" method="post" id="form">
        <section    class="input-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title"  required>
        </section>

        <section    class="input-control">
          <label for="source">source</label>
          <input type="source" name="source"  id="source" required >
      </section>

        <section    class="input-control">
            <label for="description">description </label>
            <input type="textarea" name="description" id="description" required>
        </section>

        <section    class="input-control">
            <label for="content">content</label>
            <input type="textarea" name="content" id="content" required>
        </section>
    
        <button style="float:right;">Submit</button>
    </form>
    </div>
  </div>
  
  <div id="events" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="usersList" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>



  <script>
    function openTab(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>
       