<%= layout('layouts/boilerplate') %>

<div class="flex-center">
    <span class="center-text main-heading">University Events</span>

</div>

<section class="container">
    <div id="evts-container">
      <!--  <div class="card">
            <div class="card-img" style="background-image: url();">
                <img src="${data.image.url}" alt="">
            </div>
    
            <div class="card-content">
                <h2 class="card-title">
                    ${data.title}
                </h2>
    
                <p class="event-info">
                    ${data.description}
                </p>
                <p class="event-venue">
                    ${data.venue}
                </p>
    
                <button class="read-more">
                    Read More
                </button>
            </div>
        </div>  -->





    </div>
    


</section>


<script src="scripts/events.js"></script>