<%= layout('layouts/boilerplate') %>

<div class="search-wrapper">
    <div class="search-box">
       <form action="" id="search-form">
        <input type="text" id="" placeholder="Search" name="search">
        <!-- <i class="fa-regular fa-magnifying-glass"></i> -->
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>

        </button>
       </form>
    </div>
</div>


<div class="container">

    <div class="flex-center">
        <span class="main-heading">
            New arrivals
        </span>
    </div>


    <div class="flex-container">
        <div class="bookcard">
            <div class="book-img ">
                <img src="/images/book1.jpeg" alt="book1">
            </div>
            <div class="details">
                <h1 class="">Rich dad poor dad</h1>
                <span>Rating</span>
            </div>
        </div>
        <div class="bookcard">
            <div class="book-img ">
                <img src="/images/book1.jpeg" alt="book1">
            </div>
            <div class="details">
                <h1 class="">Rich dad poor dad</h1>
                <span>Rating</span>
            </div>
        </div>
        <div class="bookcard">
            <div class="book-img ">
                <img src="/images/book1.jpeg" alt="book1">
            </div>
            <div class="details">
                <h1 class="">Rich dad poor dad</h1>
                <span>Rating</span>
            </div>
        </div>
        <div class="bookcard">
            <div class="book-img ">
                <img src="/images/book1.jpeg" alt="book1">
            </div>
            <div class="details">
                <h1 class="">Rich dad poor dad</h1>
                <span>Rating</span>
            </div>
        </div>

    </div>
</div>





