<%= layout('layouts/boilerplate') %>
<section class="container">

    

    <div id="evts-container">
  
    </div>
    <div id="articles-container">
  
    </div>


      <h1 class="center-text main-heading" >Today's News</h1>
      
    <section class="newsdesk" id="newsdesk">
       
      


    </section>

    

</section>


<script src="scripts/news.js"></script>