<%= layout('layouts/boilerplate') %>
<section class="container">

    <h1 class="center-text main-heading" >Today's News</h1>

    <section class="newsdesk" id="newsdesk">
       
        <!-- <div class="outer-box">

            <div class="news">
                <div class="news-img">
                    <img src="https://m-cdn.phonearena.com/images/article/142800-wide-two_1200/Googles-Pixel-7-and-7-Pros-design-gets-revealed-even-more-with-fresh-crisp-renders.jpg" alt="">
                </div>
                <div class="news-desc">
                    <h1>News heading</h1>
    
                    <p>news description</p>
    
                    <small>news source</small>
                    <button class="more"><i class="fa-solid fa-arrow-down-long"></i></button>

                    <button><i class="fa-solid fa-arrow-down-long"></i></button>
                </div>
            </div>

            <div class="content" style="display: none;">
            </div>
        </div> -->


    </section>

    

</section>


<script src="scripts/news.js"></script>