<%= layout('layouts/boilerplate') %>
<section class="container">

  <div id="u-news" class="flex-center">
    <!-- university news heading -->
  </div>

    <div id="evts-container">
  
    </div>

    <div id="articles" class="flex-center">
       <!-- articles heading -->
    </div>

    <div id="articles-container">
  
    </div>



    <div class="flex-center">

      <h1 class="center-text main-heading" >Today's News</h1>
    </div>
      
    <section class="newsdesk container" id="newsdesk">
       
   


    </section>

    

</section>


<script src="scripts/news.js"></script>