<%= layout('layouts/boilerplate') %>

<section class="container">

    <h1 class="center-text">Today' News</h1>

    <section class="newsdesk" id="newsdesk">
        <!-- <div class="newsbox">
            <h4>news title</h4>

            <p>description</p>
            <p>posted by</p>
        </div> -->
       
    </section>

    

</section>


<script src="scripts/news.js"></script>