<%= layout('layouts/boilerplate') %> 

<div style="display: flex;height: 90vh;width: 100%;justify-content: center;align-items: center;">
    <h1>Your email has been verified continue to login </h1>
</div>