@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 64.5%;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 200px;
}

:root{
    /* --primary-color:#004aad; */
    --primary-color:#1A2238;
    --secondary-color:#FF6A3D;
    --tritary-color : #F4DB7D;

    --success : #09c372;
    --error : #ff3860;

    --regular-font : 1.5rem;
    --big-font : 3rem;

    --font-20 : 2rem;
    --font-25 : 2.5rem;

    --shadow :rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-hover : rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



a{
    text-decoration: none;
}

.main-heading{
    text-transform: uppercase;
    word-spacing: 1.5;
    font-size: var(--big-font);
    color: #aba7a7;
    position: relative;
    display: inline-block;
    width: auto;
    margin: 10px  auto;
    font-weight: 700;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center > span{
    margin: 30px auto;
}

.main-heading::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: 0;
    border-radius: 10px;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
}

.search-wrapper{
    background-color: #1A2238;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
.search-box{
    width: 70%;
    height: 70px;
}

#search-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form > input{
    padding-left: 20px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    font-size: 2rem;
    font-weight: 100;
}


#search-form > button{
    width: 30%;
    height: 50px;
    border-radius: 0 10px 10px 0;
    border:0;
    background-color: #FF6A3D;
    color: whitesmoke;
    font-size: 2.5rem;
    cursor: pointer;
    min-width: 70px;
}



.formwrapper > form > button{
    font-size: var(--font-20);
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
}

.formwrapper{
    width: 30%;
    min-width: 200px;
    margin: 30px auto;
}

label{
    font-size: var(--regular-font);
    color: black;
    display: block;
    font-weight: 400;
}

input,textarea{
    border:1px solid rgb(181, 179, 179);
    width: 100%;
    padding: 5px 2px;
    margin: 10px 0;
    text-transform: none;
    border-radius: 5px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=file]{
    padding: 0;
}
input[type=file]::file-selector-button {
    color: black;
    border: 0;
    border-right: 2px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
    height: 100%;
    outline: 0;
  }
  
  input[type=file]::file-selector-button:hover {
    border: 0px;
    border-right: 1px solid #e5e5e5;
  }

input:focus{
    outline: 0;
}



.directions{
    font-size: 1rem;
    margin: 0;
    color: gray;
}

.center-text{
    text-align: center;
}

/* ----------------------------   Home PAGE ------------------------ */

.flex-container{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px;
}

/* .flex-container::after {
    content: "";
    width: 250px;
    flex: auto;
  } */

.bookcard{
    width:250px;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.bookcard:hover{
    box-shadow: var(--shadow-hover);
}
.bookcard > .book-img>img{
    width: 100%;
    /* height: 100%; */
}

.bookcard > .details{
    padding: 5px 10px;
}

/* ----------------------------   NEWS PAGE ------------------------ */
.newsdesk{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.news{
    width: 100%;
    /* max-height: 300px; */
    display: flex;
}

.news-img{
    flex-basis: 40%;
    min-width: 150px;
    min-height: 50px;
    max-height:150px;
}
.news-img > img{
    width: 100%;
    max-height:150px;
}

.news-desc{
    padding: 10px ;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
}

.news-desc >span{
    font-size: 1rem;
    font-weight: 600;
}
.news-desc > small{
    font-weight: 800;
}
button.more{
    background-color: var(--primary-color);
    padding: 8px 10px;
    margin: 5px 0 5px 2px;
    display: block;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    color: whitesmoke;
    border-radius: 10px;
}

button.read-more{
    background-color: var(--primary-color);
    padding: 8px 8px;
    margin: 5px 0 5px 2px;
    display: block;
    width: 120px;       
    height: 50px;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 1rem;
}



@media (min-width: 768px) {
  .read-more {
    padding: 14px 22px;
    width: 176px;
  }
}



.button-div{
    display: flex;
    justify-content: flex-start;
}

div.outer-box{
    width: 100%;
    /* border: 1px solid gray; */
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    margin: 8px auto;
    cursor: pointer;
}
div.outer-box:hover{
    box-shadow: var(--shadow-hover);
}

div.outer-box > .content{
    border-top: 1px solid gray;
    padding: 10px 20px;
}

/* ----------------------------- Flash messages---------------------- */
#success-box , #error-box{
    padding: 15px 5px;
    font-size: 15px;
    max-width:500px;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
}

#success-box{
    background-color: var(--success);
}
#error-box{
    background-color: var(--error);
}

/* ------------------------      Tab layout ------------------------------- */
.tab {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  #tab-menu{
    float: right;
    display: block;
  }
  /* Style the buttons inside the tab */
  .tab button,button.tablinks {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
    flex-grow: 1;
    border-radius: 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }
/*------------------------------------- users section--------------------------------------------- */
.tabcontent > table{
    width: 100%;
    border:1px solid black;
    border-collapse: collapse;
}

table > thead{
    border: 1px solid black;
}
table > thead> tr > th{
    font-size: var(--font-20);
    font-weight: 300;
    word-spacing: 1.5;
}

tbody > tr > td{
    padding: 10px 0;
    text-align: center;
    font-size: var(--font-20);
    border-bottom: 1px solid black;
}
tbody > tr:nth-child(2n){
    background-color: rgb(225, 216, 216) ;
}

/* ----------------------------------   Events page css ----------------- */
    #evts-container,#articles-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }    
.card{
        width: 250px;
        box-shadow: var(--shadow);
        border-radius: 8px;
        overflow: hidden;
        margin: 15px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }

    .card:hover{
        box-shadow: var(--shadow-hover);
    }

    .news-img > img{
        width: 100%;
        max-height:150px;
    }
    .card-img{
        max-width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .card-img > img{
        width: 100%;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        padding: 5px 8px;
    }

    .card-title{
        font-size: var(--font-20);
        color: rgb(95, 94, 94);
        word-wrap: break-word;
    }

    .events-info{
        font-size: 1.5rem;
        color: gray;
    }

    button.read-more{
        font-size: 1rem;
        max-width:120px;
        display: block;
        padding: 10px;
    }
/* -----------------------------------    media quaries ----------------------------- */
@media screen and (max-width : 960px){

    .main-heading{
        font-size: 2rem;
    }


    .logo-img{
        width: 50px;
        height: auto;
    }
    .search-wrapper{
        /* border-radius:50px; */
        border-radius: 0 0 50px 50px;
    }

    .newsdesk{

        justify-content: space-around;
    }

    .evts-container{
        justify-content: space-around;
    }

    .formwrapper{
        width: 75%;
        padding: 10px 15px;
    }

    .formwrapper > form > input{
        max-width: 150px;
    }

    .formwrapper > form > button{
        font-size: 1.3rem;
    
    }

    #evts-container,#articles-container{
        justify-content: center;
    }
}

@media screen and (max-width : 800px) {

    #search-form > input{
        font-size: 1.5rem;
        padding: 2px 10px;
    }
    #search-form > button{
        width: 20%;
    }



    html{
        font-size: 60%;
    }

    :root{
        --regular-font : 1rem;
        --big-font : 2rem;
    }

    .search-wrapper{
        border-radius:0px;
    }
    
    .container{
        width: 100%;
    }

    .news{
        flex-direction: column;
    }
}

@media screen and (max-width : 400px){
    button.read-more{
        padding: 5px 5px; 
        font-size: 1rem;
    }
}

@media screen and (max-width : 250px) {
    html{
        font-size: 40%;
    }
}