@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 64.5%;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --primary-color:#004aad;
    --secondary-color:#ffbd59;
    --tritary-color : #ff5757;

    --success : #09c372;
    --error : #ff3860;

    --regular-font : 1.5rem;
    --big-font : 3rem;

    --font-20 : 2rem;
    --font-25 : 2.5rem;
}



a{
    text-decoration: none;
}

.main-heading{
    text-transform: uppercase;
    word-spacing: 1.5;
    font-size: var(--big-font);
    color: #aba7a7;
}
.navbar{
    margin-bottom: 10px;
}
nav{
    /* margin: 10px auto; */
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-size: var(--regular-font);
    /* border-radius: 10px; */
    color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

nav div.logo{
    font-size: 1.8em;
    font-weight: 800;
    padding: 5px 10px;
    margin-right: 30px;

}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;

}

nav ul li{
    padding: 5px 10px;
}
nav  a{
    color: whitesmoke;
}
nav ul li a{
    color: whitesmoke;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}



.drop-list{
    position: absolute;
    right: 2px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
} 

.drop-list ul{
    display: block;
}

ul.dropdown-list{
    display: none;
}


.dropdown:hover .dropdown-list{
    display: block;
}


.drop-list ul li{
    display: block;
    text-align: center;
}

#menu{
    display: none;
}

button{
    font-size: var(--font-20);
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
}

.formwrapper{
    width: 45%;
    min-width: 200px;
    margin: 30px auto;
}

label{
    font-size: var(--regular-font);
    color: black;
    display: block;
    font-weight: 400;
}

input{
    border:1px solid rgb(181, 179, 179);
    width: 100%;
    padding: 5px 2px;
    margin: 10px 0;
    text-transform: none;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus{
    outline: 0;
}

input.valid{
    border: 3px solid var(--success);
}

input.invalid{
    border: 3px solid var(--error);
}

.directions{
    font-size: 10px;
    margin: 0;
    color: gray;
}

.center-text{
    text-align: center;
}

/* ----------------------------   NEWS PAGE ------------------------ */
.newsdesk{
    width: 75%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    
}

.news{
    width: 100%;
    /* max-height: 300px; */
    display: flex;
}

.news-img{
    flex-basis: 40%;
    min-width: 150px;
    min-height: 50px;
    /* max-height:200px; */
}
.news-img > img{
    width: 100%;
    max-height:250px;
    height: 100%;
}

.news-desc{
    padding: 10px ;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button.more{
    background-color: var(--primary-color);
    padding: 8px 10px;
    margin: 5px 0 5px 2px;
    display: block;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    color: whitesmoke;
    border-radius: 10px;
}


div.outer-box{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px auto;
}

div.outer-box > .content{
    border-top: 1px solid gray;
    padding: 10px 20px;
}

/* ----------------------------- Flash messages---------------------- */
#success-box , #error-box{
    padding: 15px 5px;
    font-size: 15px;
    max-width:500px;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
}

#success-box{
    background-color: var(--success);
}
#error-box{
    background-color: var(--error);
}

/* ------------------------      Tab layout ------------------------------- */
.tab {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  #tab-menu{
    float: right;
    display: block;
  }
  /* Style the buttons inside the tab */
  .tab button,button.tablinks {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
    flex-grow: 1;
    border-radius: 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }


/* -----------------------------------    media quaries ----------------------------- */
@media screen and (max-width : 960px){
    nav ul{
        display: none;
    }

    nav ul.active{
        display: block;
         position: absolute;
         right:0;
         top:4.5em;
         height: 100vh;
         width: 200px;
         background-color: var(--primary-color);
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px auto;
    }

    #menu{
        display: inline-block;
    }
}

@media screen and (max-width : 800px) {
    :root{
        --regular-font : 1rem;
        --big-font : 2rem;
    }
    .navbar{
        margin : 0;
    }
    nav{
        width: 100%;
        border-radius: 0%;
    }
    .container{
        width: 100%;
    }

    .news{
        flex-direction: column;
    }


}